{% extends 'emails/base.html.twig' %}

{% block title %}New User Registered{% endblock %}

{% block body %}
<div class="container">
    <div class="header">
        <h1>New Registration</h1>
    </div>
    <div class="content">
        <p>Hello Admin,</p>
        <p>A new user has registered on Phoenix Booking:</p>
        <ul>
            <li><strong>Name:</strong> {{ name }}</li>
            <li><strong>Email:</strong> {{ userEmail }}</li>
            <li><strong>Account Type:</strong> {{ role }}</li>
        </ul>
        <p>The account is currently <strong>inactive</strong>. Please log in to the admin dashboard to activate this account after verifying the user.</p>
        <p>Regards,<br>Phoenix Athletics Team</p>
    </div>
</div>
{% endblock %}
